INFI_SECRET_KEY=sk_test_replace_me
NEXT_PUBLIC_INFI_PK=pk_test_replace_me
INFI_API_URL=http://localhost:8088
INFI_AUTH_BASE_URL=http://localhost:8088
NEXT_PUBLIC_INFI_API_URL=http://localhost:8088
NEXT_PUBLIC_INFI_AUTH_BASE_URL=http://localhost:8088
INFI_APP_SLUG=sdk-test
